<h2>Book this product</h2>

  <%= simple_form_for [@product, @booking] do |f| %>
    <%= f.error_notification %>
    <%= f.input :start_date, input_html: {type: :date} %>
    <%= f.input :end_date, input_html: {type: :date} %>
    <%= f.button :submit, class: "btn btn-lg btn-primary"%>
  <% end %>
