<h2>Book this product</h2>

  <%= simple_form_for [@product, @booking] do |f| %>
    <%= f.error_notification %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit %>
  <% end %>

