<div class="container">
  <h1 class="text-center">Mon Dashboard</h1>
    <hr>
    <h2 class= "text-center">Mes informations personnelles</h2>
    <div class="info-dashboard">
      <% if current_user.photo? %>
       <%= cl_image_tag current_user.photo.path, width: 60, height: 60, crop: :fill %>
      <% end %>
      <div class="current-profil">
            <div class="profil-actions">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
          <p><strong>Full name:</strong>  <%=current_user.first_name + " " + current_user.last_name %></p>
          <p><strong>Gender:</strong> <%=current_user.gender.to_s %></p>
          <p><strong>Email address:</strong> <%= current_user.email.to_s %></p>
          <p><strong>City:</strong> <%=current_user.city.to_s %></p>
          <p><strong>Phone Number:</strong> <%= current_user.phone_number.to_s %></p>
          <p><strong>Birth Date:</strong> <%= current_user.birth_date.to_s %></p>
      </div>
      <div class="update-form hidden">
        <%= simple_form_for current_user do |f| %>
          <%= f.error_notification %>

          <%= f.input :first_name, autofocus: true%>
          <%= f.input :last_name %>
          <%= f.input :gender, :collection => ['female','male'], as: :radio_buttons %>
          <%= f.input :email %>
          <%= f.input :city %>
          <%= f.input :phone_number %>
          <%= f.input :birth_date, as: :string, input_html: {type: :date} %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>



    <hr>
    <h2>Your Activity</h2>
      <div class="info-dashboard delete-bullet-point">
        <h3>As a renter</h3>
          <h4>My pending booking requests</h4>
            <% current_user.bookings.each do |booking| %>
              <% if booking.accepted_at.nil? %>
                <stong><%= booking.product.name %></stong>
                <p>Asked for the following period <%= "from" + booking.start_date + " to " + booking.end_date %></p>
              <% end %>
            <% end %>
          <h4>Futur bookings</h4>
            <% current_user.bookings.each do |booking| %>
              <% if booking.start_date > Date.today %>
                <stong><%= booking.product.name %></stong>
                <p><%= "from" + booking.start_date + " to " + booking.end_date %></p>
              <% end %>
            <% end %>
          <h4>Booking History</h4>
           <% current_user.bookings.each do |booking| %>
              <% if booking.end_date < Date.today %>
                <stong><%= booking.product.name %></stong>
                <p>This was<%= "from" + booking.start_date + " to " + booking.end_date %></p>
              <% end %>
            <% end %>
          <h4>Your questions</h4>
            <% current_user.posts.each do |post| %>
            <ul>
              <li><strong>Your question: <%= post.question %></strong></li>
              <% unless post.answer.nil? %>
                <%= link_to product_path(@product) do %>
                  <div class="btn btn-md btn-primary">
                    Show answer
                  </div>
                <% end %>
              <% end %>
            </ul>
            <% end %>

      </div>
      <div class="info-dashboard delete-bullet-point">
        <h3>As owner</h3>
          <h4>Your available items</h4>
            <% current_user.products.each do |product| %>
            <div class= "owner-product-line">
              <ul>
                <li>
                  <strong>
                    <%= link_to product.name, product_path(product) %>
                  </strong>
                </li>
                <li><%= product.description %></li>
                <div class="edit-delete-product">
                  <%= link_to edit_product_path(product) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to product_path(product), method: :delete do %>
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  <% end %>
                </div>
              </ul>
            </div>
            <% end %>
            <div class="text-center">
              <%= link_to new_product_path do %>
              <div class="btn btn-md btn-primary">Add Product</div>
              <% end %>
            </div>

          <h4>Pending Questions</h4>
            <% current_user.products.each do |product| %>
              <% product.posts.each do |post| %>
                  <% unless post.question.nil? %>
                    <p>You have a new question on <%= product.name %>
                    <%= link_to "Reply", edit_product_post_path(product_id: post.product_id, id: post.id), class: "btn btn-primary btn-md" %>
                    </p>
                  <% end %>
                <% end %>
            <% end %>
          <h4>Pending Requets</h4>
          <i class="fa fa-check" aria-hidden="true"></i>
      </div>

    <hr>
    <h3>Security Info</h3>
    <p><%= "Username: " + current_user.email.to_s %></p>
    <p><%= link_to "Change your password?", edit_user_registration_path(current_user) %></p>
</div>
