<div class="container">
    <div>
      <h4>Question from <%= @product.posts.find(@post).user.first_name  %></h4>
      <p>"<%= @product.posts.find(@post).question %>"</p>
      <%= simple_form_for [@product, @post] do |f| %>
        <%= f.input :answer %>
        <%= f.button :submit, class: "btn btn-md btn-primary" %>
      <% end %>
    </div>
</div>
