hello

<p> <%=  user_signed_in? %> </p>

<p> <%= current_user.first_name %> </p>
<p> <%= current_user.last_name %> </p>
<p> <%= current_user.gender %> </p>
<p> <%= current_user.birth_date %> </p>
<p> <%= current_user.email %> </p>
<p> <%= current_user.city %> </p>
