<div class="container">
  <br/>
  <br/>
  <br/>
  <br/>

  <div class="global-button-blue-sitewide">
    <p><%= link_to "Back to categories", root_path%></p>
  </div>

  <h1>Sport equipment about <%= @category.name %> :</h1>


    <div>
      <% @category.products.each do |product| %>
        <p><%= link_to product.name, product_path(product) %></p>
        <p><strong>Find it in :</strong> <%= product.city %> <strong>Price :</strong> <%= product.price_per_day %> €/day</p>
      <% end %>
    </div>

</div>

