<h1>Products#show</h1>

<ul>
<div>
  <p><%= @product.name %></p>
  <p><%= @product.name %></p>
  <p><%= @product.city %></p>
  <p><%= @product.price_per_day %> € per day</p>
</div>
</ul>

<!-- <ul>
<div>
  <p>Posts></p>
    <p><%= @product.posts.question %></p>
    <p><%= @product.posts.answer %></p>
</div>
</ul>
 -->
