<div class="container">

  </br>
  <p><%= link_to "Go back to the list", category_path%></p>
  <br></br>


  <h1><%= @product.name %></h1>

  <div class= "container">
    <p><strong>Category: </strong><%= @product.category.name %></p>

    <% @product.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>

    <p><%= @product.description %></p>
    <p><strong>Available in: </strong><%= @product.city %><strong> for: </strong><%= @product.price_per_day %> € per day</p>
    <p><strong>Owner: </strong><%= @product.user.first_name %></p>
  </div>

  <% if current_user == @product.user %>
    <%= link_to "Edit", edit_product_path(@product) %>
    <%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
  <% end %>

  <br></br>


  <!-- questions -->

  <div class="container">

  <% if current_user == @product.user && @product.posts != nil  %>
  <!-- Si je suis propriétaire et j'ai des questions -->
    <p>
      <h3>Question(s) on your product:</h3>
    </p>

    <!-- Afficher les questions postées -->

    <% @product.posts.each do |post| %>
      <p><strong> Question from <%= post.user.first_name %>:</strong></p>
      <p>"<%= post.question %>"</p>

      <% if post.answer != nil %>
        <p>Answer from <%= @product.user.first_name %></p>
        <p><%= post.answer %></p>
      <% else %>
        <%= link_to "Reply", edit_product_post_path(product_id: post.product_id, id: post.id), class: "btn btn-primary btn-md" %>
      <% end %>
    <% end %>

  <%elsif current_user == @product.user  %>
  <!-- Je suis propriétaire mais je n'ai pas de question -->
    <p>You owned this poduct and</p>
    <p>You have no question from renters</p>

  <% else %>
  <!-- Je ne suis pas le propriétaire -->

    <!-- Formulaire pour poser une question -->
    <h3>Ask a question to the owner:</h3>
      <%= simple_form_for [@product, @post] do |f| %>
          <%= f.input :question %>
        <%= f.button :submit, "Ask", class: "btn btn-md btn-primary" %>
      <% end %>
    <!-- Afficher les questions déjà postées -->
    <div>
      <% @product.posts.each do |post| %>
        <p><strong>Question from <%= post.user.first_name %></strong></p>
        <p><%= post.question %></p>

        <!-- Réponse -->

        <% if post.answer != nil %>
          <p>Answer from <%= @product.user.first_name %></p>
          <p><%= post.answer %></p>
        <% else %>
          <p>Pending answer</p>
        <% end %>

      <% end %>
    </div>



  <% end %>



<!--

    <h3>Ask a question to the owner:</h3>
    <% @product.posts.each do |post| %>
      <p><%= post.question %></p>
      <p><%= post.answer %></p>
    <% end %>
  </div>

  <h3>Write a message:</h3>

  <%= simple_form_for [@product, @post] do |f| %>
    <% if current_user == @product.user %>
      <%= f.input :answer %>
    <% else %>
      <%= f.input :question %>
    <% end %>
    <%= f.button :submit, class: "btn btn-lg btn-primary" %>
  <% end %>



    <%= render 'bookings/new' %>

 -->

</div>
